.createContainer{
    display: flex;
    gap: 20px;
    height: 100%;
}

.imageSection{
    width: 60%;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1.5px solid gray;
}

.imageContainer{
    height: 60%;
}

.imageDetailContainer{
    height: 40%;
}

.ReactCrop{
    height: 100%;
}
